@CHARSET "UTF-8";

/* Font-Face(폰트불러옴) */
@font-face {
 font-family: 'NanumSquare';
 src: url(/font/NanumSquareR.eot);
 src: url(/font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(/font/NanumSquareR.woff) format('woff'),
      url(/font/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareL';
 src: url(/font/NanumSquareL.eot);
 src: url(/font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(/font/NanumSquareL.woff) format('woff'),
      url(/font/NanumSquareL.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareEB';
 src: url(/font/NanumSquareEB.eot);
 src: url(/font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(/font/NanumSquareEB.woff) format('woff'),
      url(/font/NanumSquareEB.ttf) format('truetype');
}
.NanumSquare{font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma;}

/* 기본 설정 */
html{height:100%;}
body{width:100%;min-width:1200px;height:100%;margin:0; padding:0; border:0;position:relative; background:#ecf0f3;
     font-family:Malgun Gothic,'맑은고딕',Dotum,sans-serif,Tahoma;font-size:14px;color:#333; letter-spacing:-0.8px;}

a{border:0;letter-spacing:0;}
a:link{color:#333;text-decoration:none;font-weight:normal;}
a:hover{color:#333;text-decoration:none;font-weight:normal;}
a:visited{color:#333;text-decoration:none;font-weight:normal;}

img{border:0;vertical-align:middle !important;margin:0;padding:0;}

ul, ul li{list-style:none;}
ol, ol li{list-style:none;}

ul,
ul li,
ul ul{margin: 0;padding: 0;list-style: none;}

ol,
ol li{margin: 0; padding: 0;list-style-type:none;}

dl,
dl dt,
dl dd{ margin:0; padding:0;}

h1{margin:0; padding:0;}
h2, h3, h4, h5, h6{margin: 0; padding:0; font-family:'맑은고딕',Malgun Gothic,Dotum,sans-serif,Tahoma;}

p{margin: 0; padding: 0;}
div{margin:0; padding:0;}
table{border-collapse:collapse;width:100%;border:0;margin:0;padding:0;}
caption{display:none;}
input, button, select{cursor:pointer;}
input, textarea{border:1px solid #ccc; padding:5px;}
select{border:1px solid #ccc; padding:4px;}
.blind{display:none;}
.clear{clear:both !important;height:0;}

/*필수값*/
.required{color:red;}

/* header */
.topinfo{width:100%; background:#343b4e;}
	.tinfo_wrap{width:1200px; margin:0 auto; font-size:12px;}
		.tinfo_wrap p{float:left;  color:#fff; line-height:30px;}
		.tinfo_wrap ul{float:right;}
		.tinfo_wrap ul li{float:left; height:32px; line-height:32px; color:#fff; border-left:1px solid #242a36; }
		.tinfo_wrap ul li span{color:#fff;  padding:0 15px;}
		.tinfo_wrap ul li a{color:#fff;  padding:0 15px;}
		.tinfo_wrap ul li a.logaut{background:url(/images/logout_icon.png) 15px 0 no-repeat; padding-left:38px;}
		.tinfo_wrap ul li a.myinfo{background:#384ba7 url(/images/myinfo_icon.png) center center no-repeat; text-indent:-9999px; width:10px; display:block;}	
		.tinfo_wrap ul li a.myinfo:hover{background:#384ba7 url(/images/myinfo_icon.png) center center no-repeat;}
	.topmenu{background:#fff; border-bottom:1px solid #ddd;}
		.tmenu_wrap{width:1200px; height:65px; margin:0 auto;  }
		.tmenu_wrap h1{display:block; float:left; margin-top:8px;}
		.tmenu_wrap ul{display:block; float:right;}
		.tmenu_wrap ul li{display:inline-block; padding-top:9px;}
		.tmenu_wrap ul li a{display:block; width:120px; color:#fff; height:46px; line-height:46px; padding-left:20px;font-size:17px; text-align:center; font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma;}
		.tmenu_wrap ul li a.course_btn{background:url('/images/course_btn.gif') 0 0 no-repeat;}
		.tmenu_wrap ul li a.course_btn:hover{background:url('/images/course_btn_ov.gif') 0 0 no-repeat;}
		.tmenu_wrap ul li a.admin_btn{background: url('/images/admin_btn.gif') 0 0 no-repeat;}
		.tmenu_wrap ul li a.admin_btn:hover{background: url('/images/admin_btn_ov.gif') 0 0 no-repeat;}
		.tmenu_wrap ul li a.admin2_btn{background: url('/images/admin2_btn.gif') 0 0 no-repeat;}
		.tmenu_wrap ul li a.admin2_btn:hover{background: url('/images/admin2_btn_ov.gif') 0 0 no-repeat;}
		
/* footer */
#footer{background:#777; width:100%; padding:30px 0; clear:both;}
.footer_wrap{width:1200px; margin:0 auto;}
	.footer_wrap .add{float:left; width:60%; font-size:12px; color:#ddd; line-height:20px;}
	.footer_wrap .add span{display:inline-block; margin-right:15px; letter-spacing:0px;}
	.footer_wrap .linksite{float:right; width:40%; text-align:right;padding-top:5px;}
	.footer_wrap .linksite select{border:1px solid #ccc; padding:5px; margin:0; vertical-align:top;}
	.footer_wrap .linksite input{background:#a5a5a5; border:1px solid #979797; color:#fff; height:29px; vertical-align:top;}
		
	/* 로그인페이지와 리스트 페이지 배경색상이 다릅니다.  */
	#login_wrap #footer{background:none; position:fixed; bottom:0; left:0;}
	#login_wrap .add{color:#666;}


/* 로그인  */
div#login_wrap{width:1200px;  margin:0 auto; /* background:url('/images/login_img.gif') 55px 60px no-repeat; */}
.login_top{padding-top:20px;}
.login_box{width:400px; margin:5% auto 0 auto; }
	.login_box img{display:block; margin:0 auto 20px auto;}
	.login_box dl{background:#fff;}
	.login_box dl dt{display:none;}
	.login_box dl dd{margin-bottom:8px;}
	.login_box dl dd input{width:380px; height:28px; margin:0; padding:10px; border:1px solid #ddd; background:#fff; line-height:25px; font-size:16px; border-radius:5px;}
	.login_box input.login_btn{width:400px; height:60px; padding:0 0 0 25px; margin:3px 0 0 1px; border:1px solid #e55621; background:#f15a22 url('/images/login_btn.png') 155px 15px no-repeat; 
								line-height:30px; font-size:20px; font-weight:bold; color:#fff; font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma;  border-radius:5px;}
	.login_box input.login_btn:hover{background:#ff6215 url('/images/login_btn.png') 155px 15px no-repeat; }
	.login_box input.join_btn{width:400px; height:60px; margin:3px 0 0 1px; border:1px solid #e55621; background:#f15a22; 
								line-height:30px; font-size:20px; font-weight:bold; color:#fff; font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma;  border-radius:5px;}
	.login_box input.join_btn:hover{background:#ff6215; }
	
	
	
/* list page 공통 */
div#sub_wrap{/* 리스트 페이지 전에 div */}
.sub_content{width:1200px; margin:0 auto; padding:25px 0;} 

	/* 교육과정 left_menu */
	.sub_contentV{}
	.sub_contentV .courselist_content{float:right; width:78%;}
	.sub_contentV #leftmenu{  width:15%; border-bottom:0; }
	.sub_contentV #leftmenu ul{width:100%;}
	.sub_contentV #leftmenu ul li{}
	.sub_contentV #leftmenu ul li a{display:block; padding:15px 0 15px 35px; font-size:18px;font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma; }
	.sub_contentV #leftmenu ul li a:hover{color:#0d4da2;}
	.sub_contentV #leftmenu ul li a.on{color:#0d4da2; font-weight:bold;}
	/*
	.sub_contentV #leftmenu ul li a:hover{background: url('/images/leftmenu_ov.png') 200px 19px no-repeat;}
	.sub_contentV #leftmenu ul li a.on{background: url('/images/leftmenu_on.png') 200px 19px no-repeat; color:#0d4da2; font-weight:bold;}
	*/
	.sub_contentV #leftmenu ul li.lm_1 a{background: url('/images/leftmenu_icon1.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_1 a:hover{background: url('/images/leftmenu_icon1_ov.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_1 a.on{background: url('/images/leftmenu_icon1_ov.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_2 a{background: url('/images/leftmenu_icon2.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_2 a:hover{background: url('/images/leftmenu_icon2_ov.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_2 a.on{background: url('/images/leftmenu_icon2_ov.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_3 a{background: url('/images/leftmenu_icon3.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_3 a:hover{background: url('/images/leftmenu_icon3_ov.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_3 a.on{background: url('/images/leftmenu_icon3_ov.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_4 a{background: url('/images/leftmenu_icon4.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_4 a:hover{background: url('/images/leftmenu_icon4_ov.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_4 a.on{background: url('/images/leftmenu_icon4_ov.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_5 a{background: url('/images/leftmenu_icon5.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_5 a:hover{background: url('/images/leftmenu_icon5_ov.png') 0 10px no-repeat;}
	.sub_contentV #leftmenu ul li.lm_5 a.on{background: url('/images/leftmenu_icon5_ov.png') 0 10px no-repeat;}
	
	/* 교육과정  */
	.courselist_top{background:url('/images/courselist_top_img.jpg') center 0 no-repeat; height:128px; margin-bottom:30px;}
	.courselist_top h2{text-indent:-9999px;}
	/* 교육과정 상세보기 */
	.courseview_top{width:100%; margin:0 auto; background:#40488f url('/images/top_sample.jpg') center 0 no-repeat; height:120px; }
	.courseview_top h2{text-indent:-9999px;}
	
	/* 검색  */
	.search_box{margin-bottom:7px;}
	.search_box p.alllist{display:inline-block;padding:6px 0 0 20px; background:url('/images/all_list_icon.gif') 0 10px no-repeat;}
	.search_box p.alllist strong{color:#e74c00}
	.search_input{float:right; vertical-align:top;}
	.search_input select{border:1px solid #ccc; padding:5px; margin:0; vertical-align:top; min-width:90px; line-height:22px;}
	.search_input input{border:1px solid #ccc; padding:5px; margin:0; vertical-align:top; height:17px;}
	.search_input button{background:#666; color:#fff; border:1px solid #444; padding:5px 10px; margin:0; vertical-align:top; height:29px;}
	
	/* 과정테이블  */
	table.course_table{border-left:1px solid #ddd; border-top:1px solid #343b4e; font-size:13px;}
	table.course_table thead th{background:#343b4e; color:#fff; padding:15px 8px; border-right:1px solid #4f5768;}
	table.course_table tbody th{background:#f1f1f1; text-align:center; padding:15px 8px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
	table.course_table tbody td{text-align:center; padding:15px 8px;  border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
	table.course_table tbody td.subject{text-align:left; font-weight:bold;}
	table.course_table tbody td.course_data{color:#134079;}
	table.course_table tbody tr:hover{background:#f1f2f7; cursor:pointer;}
	table.course_table .textleft{text-align:left;}
	table.course_tableV tbody td{text-align:left;}
	table.course_tableV tbody tr:hover{background:#fff; cursor:default;}
	
	/* 이수정보 테이블*/
	table.statistics_table{border-left:1px solid #ddd; border-top:2px solid #343b4e; font-size:13px;}
	table.statistics_table thead th{background:#343b4e; color:#fff; padding:15px 8px; border-right:1px solid #4f5768;}
	table.statistics_table tbody th{background:#f1f1f1; text-align:center; padding:13px 5px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
	table.statistics_table thead th.order{cursor:pointer;}
	table.statistics_table tbody td{text-align:center; padding:13px 5px; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
	table.statistics_table tbody td.subject{text-align:left; font-weight:bold;}
	table.statistics_table tbody td.course_data{color:#134079;}
	table.statistics_table tbody tr:hover{background:#f1f2f7;}
	table.statistics_table .textleft{text-align:left;}
	table.statistics_tableV tbody td{text-align:left;}
	table.statistics_tableV tbody tr:hover{background:#fff; cursor:default;}
	
	/* 과정정보 */
	.courselist_content{border:1px solid #ddd; background:#fff; padding:30px 30px 50px 30px; min-height:650px; border-radius:8px;}
	.courselist_content h3{font-size:25px; font-weight:bold; font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma;
	                       padding:20px 0 20px 45px; margin:0 0 30px 0; border-bottom:1px dotted #333; background:url('/images/h3_img.gif') 0 12px no-repeat;}
	.courselist_content h4{font-size:18px; font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma; line-height:22px; background:url('/images/h4_icon.gif') 0 2px no-repeat; padding:0 0 0 13px;  margin:0 0 10px 0;}
	
	.courselist_content ul.list01{margin:0 0 20px 0; padding-bottom:20px; padding-left:13px; background:url('/images/sample.jpg') 0 bottom repeat-x; }
	.courselist_content ul.list01 li{background:url('/images/list01_icon.gif') 0 7px no-repeat; padding:0 0 0 8px; margin-bottom:8px; line-height:18px;}
	.courselist_content ul.list01 li strong, .courselist_content ul.list01 li span{display:inline-block; vertical-align:top;}
	.courselist_content ul.list01 li strong{font-weight:normal;}
	.courselist_content ul.list01 li span{ color:#777;}
	.courselist_content ul.list01 li span.data{color:#134079;}
	.courselist_content div.edubox{margin-left:13px;}
	label.error{font-size:12px; color:#dd1e3e; display:inline-block; margin-left:5px;}
	
	/* 상단버튼 */
	.btn_wrapTOP{text-align:right; margin-top:13px; margin-bottom:5px;}
	.btn_wrapTOP a{display:inline-block; padding:6px 10px; border:1px solid #4e82bc; border-radius:3px; font-size:12px; color:#3768a0;}
	.btn_wrapTOP a:hover{background:#4e82bc; color:#fff;}
	
	/* 하단 버튼  */
	.btn_wrap{text-align:right; margin-top:15px;}
	.btn_wrap a{display:inline-block; padding:12px 18px; border:1px solid #ccc; border-radius:6px;}
	.btn_wrap a:hover{border:1px dotted #333;}
	.btn_wrap button{display:inline-block; padding:12px 18px; border:1px solid #205ca3; border-radius:5px; background:#417ec7; color:#fff;}
	.btn_wrap button:hover{background:#205ca3;}
	.btn_wrap a.submit_btn{display:inline-block; padding:12px 18px; border:none; border-radius:5px; text-align:center; background:#417ec7; color:#fff;}
	.btn_wrap a.submit_btn:hover{background:#205ca3;}
	.btn_wrap a.delete_btn{display:inline-block; padding:12px 18px; border:none; border-radius:5px; text-align:center; background:#cc0000; color:#fff;}
	.btn_wrap a.delete_btn:hover{background:#990000;}
	
	.btn_wrap_center{text-align:center; margin-top:20px;}
	.btn_wrap_center a.modify_btn{display:inline-block; padding:12px 18px; border:none; border-radius:5px; text-align:center; background:#417ec7; color:#fff; }
	.btn_wrap_center a.modify_btn:hover{background:#205ca3;}
	.btn_wrap_center a.cancel_btn{display:inline-block; padding:12px 18px; border:1px solid #ccc; border-radius:5px; }
	.btn_wrap_center a.cancel_btn:hover{border:1px dotted #333;}
	
	input.submit_btn{display:block; margin: 30px auto 0 auto; padding:12px 18px;border:none; border-radius:5px; text-align:center; background:#417ec7; color:#fff;}
	input.submit_btn:hover{background:#205ca3;}
	
	/* 페이징 */
	#pagenation{text-align:center; margin-top:20px;}
	#pagenation a{display:inline-block; font-size:15px; min-width:25px; height:25px; line-height:25px;}
	#pagenation span{display:inline-block; font-size:15px; min-width:25px; height:25px; line-height:25px;}
	
	

/* 정보 수정 팝업 */
body.popbody{ width:100%; min-width:50px; padding-top:15px;}
#pop_contents{width:95%; margin:0 auto; background:#fff; border:1px solid #ddd; border-radius:5px;}
.pop_wrap{padding:30px;}
	.pop_wrap h1{font-size:28px; color:#165ebf; line-height:32px; font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma;
				background:url('/images/popup_h1.gif') 0 1px no-repeat; padding-left:24px; margin-bottom:5px; font-weight:normal;}
	.pop_wrap p{line-height:22px; background:url('/images/h4_icon.gif') 0 2px no-repeat; padding:0 0 0 13px;  margin:0 0 6px 0;}
	.pop_wrap p strong{color:#e74c00;}
	.pop_table{width:100%; border-left:1px solid #ddd; border-top:2px solid #165ebf; margin-bottom:20px;}
	.pop_table th{background:#f1f1f1; text-align:center; padding:10px 8px; border-right:1px solid #ddd; border-bottom:1px solid #ddd; }
	.pop_table tbody td{padding:10px 8px; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
	.pwtable{border-top:2px solid #0e9d53;}
	
	.pop_wrap h3{font-size:28px;  font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma; font-weight:normal; 
	             border-bottom:1px dashed #aaa; padding:5px 5px 25px 45px; margin:0 0 30px 0; background:url('/images/h3_img.gif') 0 0 no-repeat;}
	.pop_wrap h4{font-size:16px; line-height:22px; background:url('/images/h4_icon.gif') 0 2px no-repeat; padding:0 0 0 13px;  margin:0 0 6px 0;}
	
	
/* 동영상 팝업 */	
body.video_body{width:100%; min-width:50px;}
body.video_body h3{font-size:24px; font-family:'NanumSquare', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma; font-weight:bold; 
	               padding:0 20px 0 90px; margin:0 0 20px 0; height:60px; line-height:59px; background:#343b4e url('/images/video_h3_img.png') 40px 11px no-repeat; color:#fff;}
body.video_body h3 span{display:block;width:70% !important;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap !important;overflow:hidden !important;}
body.video_body a.close{display:block; width:60px; height:60px; line-height:55px; text-align:center; background:#000; position:absolute; top:0; right:0;}
	#videopop_contents{width:1140px; margin:0 auto; background:#fff; }
	#videopop_contents h4{background:#999; padding:15px 15px; color:#fff; text-align:center; font-size:16px;}
	.videopop_wrap{padding:30px; border:1px solid #ddd; border-top:0; margin-bottom:20px;}
	.videopop_wrap .video_box{background:#f1f1f1; width:100%; text-align:center}
	body.video_body ul.list01{ margin-top:15px;}
	body.video_body ul.list01 li{background:url('/images/video_icon.gif') 0 3px no-repeat; padding:0 0 0 18px; margin-bottom:5px; 
								  line-height:18px; font-weight:bold; color:#d02215;}
	
/* 엑셀 수강생 등록 */	
	.xle_student{}
	.xle_student h3{font-size:24px !important; font-family:'HYUNDAIMedium', Malgun Gothic,'맑은고딕', Dotum, sans-serif,Tahoma; font-weight:normal !important; color:#0d4da2 !important;
	                border-bottom:1px solid #0d4da2; padding:0 0 15px 0; margin-bottom:15px;}
	.xle_student ul.list02{margin:0 0 25px 0; padding:0; }
	.xle_student ul.list02 li{background:url('/images/list02_icon.gif') 0 7px no-repeat; padding:0 0 0 9px; margin-bottom:3px; line-height:18px; color:#666 !important; font-size:13px;}
	.btn_wrap_center a.btn_style1{isplay:inline-block; padding:8px 15px; border:none; border-radius:5px; text-align:center; background:#417ec7; color:#fff;}
	.btn_wrap_center a.btn_style2{isplay:inline-block; padding:8px 15px; border:none; border-radius:5px; text-align:center; background:#aaa; color:#fff;}
	
/* 문제풀이 - 보기 */
	.test_view{ border:1px solid #ddd; border-radius:6px; padding:13px 13px 13px 13px; background:#f9f9f9;}
	.test_view p{vertical-align: middle;}
	.test_view .one_question{border:1px solid #ccc; border-top:1px solid #2c64a9; background:#fff; margin:0 0 13px 0;}
	.test_view .one_question dl{}
	.test_view .one_question dl dt{padding:15px 15px 15px 50px; border-bottom:1px solid #d2dce9; background:url(/images/q_icon.jpg) 10px 8px no-repeat;
	                    color:#2c64a9; font-weight:bold;}
	.test_view .one_question dl dd{padding:15px 15px 10px 10px; clear:both;}
	.test_view .one_question dl dd ul.test_choice li{margin:0 0 10px 0; clear:both; line-height:22px; vertical-align:top;}
	.test_view .one_question dl dd ul.test_choice li input, 
	.test_view .one_question dl dd ul.test_choice li span, 
	.test_view .one_question dl dd ul.test_choice li strong{display:block; vertical-align:top;}
	.test_view .one_question dl dd ul.test_choice li input,
	.test_view .one_question dl dd ul.test_choice li strong{float:left; vertical-align:top;}
	.test_view .one_question dl dd ul.test_choice li span{margin-left:22px;}
	
/* 문제풀이 - 통과 */
	.test_pass{border:1px solid #ddd; border-radius:6px; padding:20px 20px 20px 60px; margin-top:20px;
				font-size:16px;  background:#f8f8f8 url('/images/testpass_icon.png') 20px 12px no-repeat;}
	.test_pass strong{color:#2c64a9;}
	.test_view .one_question .test_choice{padding-left:10px;}
	
/* 문제풀이 - 해설 */
	.test_view .commentary{border-top:1px solid #d2dce9; background:#f1f5fa; margin:0; padding:0;}
	.test_view .commentary dl dt{padding:15px 15px 15px 78px;  background:url(/images/a_icon.png) 40px 5px no-repeat; border-bottom:1px dashed #d2dce9; color:#333;}
	.test_view .commentary dl dd{color:#666; padding:12px 15px 15px 50px; font-size:13px; line-height:20px;}
	.test_view .one_question dl dd ul.test_answer li{padding:0 0 0 30px; color:#999;}
	.test_view .one_question dl dd ul.test_answer li.test_ok{ color:#333;  background:url(/images/test_ok_icon.png) 0px 0 no-repeat;  font-weight:bold; text-decoration:underline;}
	.test_view .one_question dl dd ul.test_answer li.test_check{ color:#999;  background:url(/images/test_check_icon.png) 0px 0 no-repeat; }
	.test_view .one_question dl dd ul.test_answer li.test_answer{ color:#333;  background:url(/images/test_answer_icon.png) 0px 0 no-repeat;  font-weight:bold; text-decoration:underline;}
	
/* 문제풀이 - 수정*/
	.test_modify{border:1px solid #ddd; border-radius:6px; padding:13px 13px 0 13px; background:#f9f9f9;}
	.test_modify .one_question{border:1px solid #ccc; border-top:1px solid #2c64a9; background:#fff; margin:0 0 15px 0;}
	.test_modify .one_question dl dt{padding:15px; background:none; vertical-align:top;}
	.test_modify .one_question dl dt span{ vertical-align:top; color:#2c64a9; font-weight:bold;}
	.test_modify .one_question dl dd{padding:0 15px 10px 10px; clear:both;}
	.test_modify .one_question dl dd ul.test_choice{padding-left:20px;}
	.test_modify .one_question .test_choice li{margin-bottom:5px;}
	
	.test_modify .commentary{border-top:1px solid #d2dce9; background:#f1f5fa; margin:0; padding:0;}
	.test_modify .commentary dl dt{padding:15px; border-bottom:1px dashed #d2dce9; color:#333; font-weight:bold;}
	.test_modify .commentary dl dd{padding:15px ; font-size:13px; line-height:20px;}	
	
/* 모달*/
input.btn_msearch{height:28px; padding:0 10px; font-size:11px; background:#555; border:1px solid #333; color:#fff; border-radius:3px 3px;}
#basic-modal-content h3{line-height:22px; background:url('/images/h4_icon.gif') 0 2px no-repeat; padding:0 0 0 13px;  margin:0 0 6px 0; }

/* 게시판 검색 */
.board_search{max-width:430px; margin:0 0 5px 0; float:right;}
	.board_search select{background:url('/images/select_icon.png') 90% center no-repeat;
						 width:80px; height:32px;
						 appearance: none;         /* 화살표 없애기 공통*/ 
						 -webkit-appearance: none; /* 화살표 없애기 for chrome*/ 
						 -moz-appearance: none;    /* 화살표 없애기 for firefox*/ 
						 } 
	.board_search select::-ms-expand { display: none; /* 화살표 없애기 for IE10, 11*/ } 
	.board_search input.input{vertical-align:top;  height:30px; padding:0; margin-right:3px; }
	.board_search .btn_search{ float:right; border:1px solid #444; width:50px; height:32px; background:#666; color:#fff; font-size:13px;}


/* 게시판*/
.board_table{}
	/* 리스트 */
	.table_list{border-top:2px solid #343b4e; border-left:1px solid #ddd;}
	.table_list thead th{border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:13px; background:#f4f4f4; color:#343b4e; font-weight:normal; font-size:14px;}
	.table_list tbody td{border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:13px; text-align:center; font-size:14px;}
	.table_list tbody td.sbj { text-align:left;}
	.table_list tbody td.sbj a{display:block; width:500px !important;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap !important;overflow:hidden !important;}
	.table_list tbody td.sbj a:hover{text-decoration:underline;}
	.table_list tbody td.file{}
	.table_list tr:hover td{background:#fcf9f4 !important;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	