@charset "UTF-8";
/* 기본 설정 */
select {
    width: 150px;
    height: 35px;
    padding-left: 14px;
    font-size: 14px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    -webkit-appearance: none; 
   -moz-appearance: none;    
   appearance: none;
   background: url('../img/common/select_arrow.png') no-repeat 95% 50%; /* 화살표 아이콘 추가 */       
}
select::-ms-expand {
   display: none;            
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  background: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #333;
  letter-spacing: -0.8px;
}

a {
  border: 0;
  letter-spacing: 0;
}

a:link {
  color: #707070;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  color: #707070;
  text-decoration: none;
  font-weight: normal;
}

a:visited {
  color: #707070;
  text-decoration: none;
  font-weight: normal;
}

img {
  border: 0;
  vertical-align: middle !important;
  margin: 0;
  padding: 0;
}

ul, ul li {
  list-style: none;
}

ol, ol li {
  list-style: none;
}

ul,
ul li,
ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol,
ol li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl,
dl dt,
dl dd {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

caption {
  display: none;
}

input, button, select {
  cursor: pointer;
}

input, textarea {
  border: 1px solid #707070;
  padding: 0px;
}

select {
  border: 1px solid #707070;
  padding: 4px;
}

.blind {
  display: none;
}

.clear {
  clear: both !important;
  height: 0;
}

/*필수값*/
.required {
  color: red;
}

/*common class*/
.fr{
	float:right;
}
.manager_cate_font {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  width: 70px;
}

.main_content {
  width: 100%;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  color: #707070;
}

.topmenu {
  margin-bottom: 0px;
  background-color: #AA5382
}

.topmenu h1 {
  text-align: center;
  margin-bottom: 10px;
}

.main_content .left_menu {
  width: 100%;
  margin: 0 auto;
  height: 60px;
}

.main_content .left_menu li {
  float:left;
  padding-top: 10px;
}

.main_content .left_menu .home {
  float:left;
  padding-top: 10px;
  background-color: #7b3d5e;
  width: 50px;
  height: 50px;
  text-align: center;
}

.main_content .left_menu li a {
  font-size: 24px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  color:white;
  text-align: left;
}

.main_content .search_box{
	float:right;
  padding-top: 10px;
}
.main_content .search_box p{
	font-size:22px;
	font-weight:bold;
	color:gray;
	margin-top:5px;
	vertical-align:middle;
	float:left;
}
.main_content .search_box input.skey{
	font-size:16px;
	border-radius:25px;
	width:100px;
	padding:5px;
	box-sizing:border-box;
	height:30px;
}
.main_content .search_box .skey_submit{
	display:inline-block;
	border-radius:25px;
	text-align:center;
	width:40px;
	border-radius:3px;
	background-color:#AA5382;
	height:40px;
	margin-left:2px;
	vertical-align:middle;
}
.main_content .search_box .skey_submit img{
	margin-top:10px;
}


.main_box{
	display:flex;
	width:100%;
	justify-content:space-around;
}
.main_box .box{
	text-align:center;
	background-color:#F7F7F7;
	border-radius:15px;
}
.main_box .box a{
	font-size:18px;
	width:162px;
	padding-top:160px;
	font-weight:bold;
	display:inline-block;
	padding-bottom:10px;
}
.main_box .box:first-child a{
	padding-bottom:10px;
	margin-bottom:10px;
}
.main_content .sub_content {
  width: 100%;
  border-top: 1px solid #b6b6b6;
  padding-top: 20px;
}

.main_content .sub_content h2 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color:#AA5382;
  padding-bottom:20px;
}


.main_content .sub_content .sub_content_layout1 {
  width: 100%;
  float: left;
  padding-bottom:50px;
}

.main_content .sub_content .sub_menu ul {
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  
  width:100%;
  height: 50px;
  overflow-x:scroll;
  white-space:nowrap;
  overflow:auto;
  
}

.main_content .sub_content .sub_menu li {
  padding-left: 30px;
  float: left;
  white-space:nowrap;
  overflow:auto;
}

.main_content .sub_content .sub_menu li a {
  text-align: center;
  font-size: 22px;
  line-height: 45px;
  white-space:nowrap;
}

.productlist_content {
  margin-top:30px;
}

.productlist_content .product_list {
  width: 100%;
  float: left;
  text-align: center;
  padding:10px;
}

.productlist_content .product_list {
  width: 30%;
  margin-bottom: 40px;
}
.productlist_content .product_list .product_list_img_container{
  height:200px;
}
.productlist_content .product_list .list_chkBox {
  display: block;
}

.productlist_content .product_list p.eng_txt {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  height: 80px;
}

.productlist_content .product_list p.kor_txt {
  font-size: 18px;
  font-weight: light;
  line-height: 24px;
  height: 50px;
}

.productlist_content .product_list p.price {
  font-size: 36px;
  font-weight: bold;
}

.productlist_content .product_list p.stock {
  font-size: 22px;
}

.productlist_content .product_list a.order {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: white;
  width: 160px;
  padding: 5px;
  margin-top: 10px;
  background-color: #AA5382;
}

/*product-detail*/
.product_detail {
  margin-top: 45px;
}

.product_detail .product_detail_layout1 {
  width: 30%;
  float: left;
  text-align: center;
}

.product_detail .product_detail_layout2 {
  width: 70%;
  float: left;
  text-align: left;
  box-sizing:border-box;
  padding-left:30px;
}

.product_detail .product_detail_layout2 .detail_eng_name {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
}

.product_detail .product_detail_layout2 .detail_kor_name {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  line-height: 1.8;
}

.product_detail .product_detail_layout2 .detail_id {
  margin-top: 20px;
}

.product_detail .product_detail_layout2 .detail_id p {
  font-size: 24px;
  line-height: 1.8;
}

.product_detail .product_detail_layout2 .detail_stock {
  margin-top: 30px;
}

.product_detail .product_detail_layout2 .detail_stock span {
  font-size: 24px;
  line-height: 1.8;
}

.product_detail .product_detail_layout2 .detail_stock input {
  font-size: 24px;
  text-align: center;
  width: 80px;
  line-height: 1.2;
}

.product_detail .product_detail_layout2 .detail_price_order {
  margin-top: 20px;
}

.product_detail .product_detail_layout2 .detail_price_order .price {
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
}

.product_detail .product_detail_layout2 .detail_price_order .stock_control_m {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #AAAAAA;
  position: relative;
  margin-left: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.product_detail .product_detail_layout2 .detail_price_order .stock_control_m:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  left: 9px;
}

.product_detail .product_detail_layout2 .detail_price_order .stock_control_p {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #AAAAAA;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.product_detail .product_detail_layout2 .detail_price_order .stock_control_p:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 12px;
  left: 10px;
}

.product_detail .product_detail_layout2 .detail_price_order .stock_control_p:after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 14px;
}

.product_detail .product_detail_layout2 .detail_price_order input {
  margin-left: 5px;
  width: 31px;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  vertical-align: top;
  margin-top: 22px;
}

.product_detail .product_detail_layout2 .detail_price_order .order {
  float: right;
  width: 200px;
  padding: 5px;
  line-height: 1.8;
  font-size: 24px;
  font-weight: bold;
  background-color: #AA5382;
  color: #fff;
  border: none;
}

.product_detail .product_detail_layout2 .detail_order_cancle {
  float: right;
  margin-top: 10px;
  width: 200px;
  padding: 5px;
  line-height: 1.8;
  font-size: 24px;
  font-weight: bold;
  background-color: #898989;
  color: #fff;
  border: none;
}

.product_detail .product_detail_layout3 {
  border-top: 1px solid #b6b6b6;
  padding-top: 20px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  word-break: keep-all;
}

.product_detail .product_detail_layout3 p {
  font-size: 18px;
  line-height: 1.8;
  padding: 20px;
}

.detail_prev{
	display:inline-block;
  float:right;
  margin-top: 20px;
  padding:5px;
  width: 200px;
  line-height: 2;
  font-size: 18px;
  background-color: #898989;
  color: #fff !important;
  border: none;
  text-align:center;
}
/*로그인*/
.login {
  width: 245px;
  margin: 192px auto;
}

.login_box {
  margin-top: 100px;
}

.login_box span {
  font-size: 14px;
  font-weight: bold;
  display:inline-block;
  width:30px;
}

.login_box .userid {
  margin-left: 10px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 10px;
  border: none;
}

.login_box .password {
  margin-left: 10px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 20px;
  border: none;
}

.login_box .enter {
  width: 242px;
  font-size: 18px;
  line-height: 40px;
  background-color: #AA5382;
  color: #fff;
  text-align: center;
}

/*adm*/
.manager_main_content {
  width: 100%;
  height: 100%;
}

.manager_main_content .manager_left_menu {
  width: 180px;
  height: 100%;
  float: left;
  background-color: #5F5F5F;
}

.manager_main_content .manager_left_menu .logo {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.manager_main_content .manager_left_menu .left_sub_menu li {
  padding-left: 20px;
}

.manager_main_content .manager_left_menu .left_sub_menu li.active_menu {
  background-color: rgba(255, 255, 255, 0.2);
}

.manager_main_content .manager_left_menu .left_sub_menu li a {
  line-height: 2.1;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.manager_main_content .main_content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: 80%;
  padding-left: 25px;
  padding-top: 55px;
  padding-right: 25px;
}

.manager_main_content .main_content h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.manager_main_content .main_content .layout1 {
  margin-top: 10px;
  text-align: right;
}

.manager_main_content .main_content .layout1 a.btn_add {
  display: inline-block;
  text-align: center;
  width: 124px;
  background-color: #AA5382;
  color: #fff;
  display: inline-block;
  line-height: 39px;
}

.manager_main_content .main_content .product_list_cate {
  margin-top: 10px;
}

.manager_main_content .main_content .product_list_cate .sfst_cate {
  font-size: 10px;
  vertical-align: top;
}

.manager_main_content .main_content .product_list_cate .ssnd_cate {
  margin-left: 20px;
  font-size: 10px;
  vertical-align: top;
}

.manager_main_content .main_content .product_list_cate .from{
	margin-left:5px;
	margin-right:5px;
	display:inline-block;
}

.manager_main_content .main_content .product_list_cate .product_list_keyword {
  margin-top: 10px;
}

.manager_main_content .main_content .product_list_cate .product_list_keyword .skey {
  display: inline-block;
  width: 205px;
  margin: 0;
  vertical-align: top;
  height: 24px;
}

.manager_main_content .main_content .product_list_cate .product_list_keyword .skey_submit {
  display: inline-block;
  width: 31px;
  height: 25px;
  position: relative;
  background-color: #707070;
  margin-left: 5px;
  vertical-align: top;
}

.manager_main_content .main_content .product_list_cate .product_list_keyword .skey_submit img {
  position: absolute;
  top: 5px;
  left: 8px;
}

/*productlist_content*/
.manager_main_content .productlist_content {
  margin-top: 10px;
}

.manager_main_content .productlist_content thead {
  border-top: 1px solid #5A5A5A;
  border-bottom: 1px solid #5A5A5A;
}

.manager_main_content .productlist_content thead th {
  color: black;
  font-size: 13px;
  line-height: 3;
  text-align: center;
}

.manager_main_content .productlist_content thead th input {
  vertical-align: middle;
}

.manager_main_content .productlist_content tbody {
  border-bottom: 1px solid #5A5A5A;
}
.manager_main_content .productlist_content tbody tr:first-child {
  vertical-align: middle;
}

.manager_main_content .productlist_content tbody tr:not(last-child) {
  border-bottom: 1px solid #ddd;
}
.manager_main_content .productlist_content tbody tr td {
  text-align: center;
  font-size: 12px;
  line-height:18px;
  height: 50px;
}

.manager_main_content .productlist_content tbody tr td:nth-child(4) {
  text-align: left;
}

.manager_main_content .productlist_content tbody tr td input {
  vertical-align: middle;
}

.manager_main_content .productlist_content tbody tr td input {
  vertical-align: middle;
}

.manager_main_content .productlist_content tbody .btn_modify {
  line-height: 24px;
  padding: 0 7px;
  font-size: 11px;
  color: #fff;
  background-color: #717171;
  display:inline-block;
}
.manager_main_content .productlist_content tbody .btn_approval {
  padding: 0 7px;
  line-height: 24px;
  font-size: 11px;
  color: #fff;
  background-color: #AA5382;
  display:inline-block;
}

.manager_main_content .productlist_content tbody tr:last-child {
  border-bottom: 1px solid #5A5A5A;
}

.manager_main_content .productlist_content tfoot tr{
  border-bottom:1px solid #5A5A5A;
}
.manager_main_content .productlist_content tfoot td{
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height:36px;
}
.manager_main_content .btn_wrap {
  margin-top: 10px;
}
.manager_main_content .rg_btn_wrap {
  margin-right: 222px;
}
.manager_main_content .reg_btn {
  float: right;
}
.manager_main_content .btn_wrap .btn_del {
  background-color: #AA5382;
  width: 100px;
  line-height: 1.8;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  border: none;
  text-align: center;
}

/*register.php*/
.manager_main_content .layout {
  margin-bottom: 10px;
}

.manager_main_content .layout input[type=text] {
  padding: 5px;
}
.manager_main_content .layout .rg_input{
  width:60%;
}
.manager_main_content .layout .rg_input1{
  width:30%;
}

.manager_main_content .layout textarea {
  width: 60%;
  padding:5px;
}

.manager_main_content .layout .img_upload {
  margin-left: 10px;
}

.manager_main_content .img_upload {
  display: inline-block;
  width: 76px;
  text-align: center;
  font-size: 11px;
  background-color: #AA5382;
  color: #fff;
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}

/* 주문현황 */
.manager_main_content .product_state tbody tr:nth-child(1) td{
  font-size: 16px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */